.container{
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao{
  padding: 16px 32px;
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0px 1px 2px regb(0,0,0,.1);
  color: var(--cor-p5);
  text-transform: uppercase;
  font: 600 1.125/1.35 "Poppings",sans-serif;
  max-width: max-content;
}
.botao:hover{
  background: linear-gradient(#ffb60d, #e59317);
}
.secundario{
  padding: 16px 32px;
  display: inline-block;
  background: var(--cor-10);
  border-radius: 4px;
  box-shadow: 0px 1px 2px regb(0,0,0,.1);
  color: var(--cor-4);
  text-transform: uppercase;
  font: 600 1.125/1.35 "Poppings",sans-serif;
  max-width: max-content;

}
.secundario:hover{
  background-color: var(--cor-9);
}
.link{
  display: block;
  color: var(--cor-p1);
  font-family:500 1.5rem/1.5 "Poppings";
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.link:hover{
  color: var(--cor-0);
}
@media(max-width:600px){
  .botao{
    padding: 12px 16px;
    font-size: 1rem;
  }
}
