.container{
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao{
  padding: 16px 32px;
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0px 1px 2px regb(0,0,0,.1);
  color: var(--cor-p5);
  text-transform: uppercase;
  font: 600 1.125/1.35 "Poppings",sans-serif;
  max-width: max-content;
}
.botao:hover{
  background: linear-gradient(#ffb60d, #e59317);
}
.botao.seta{
  display: flex;
  align-items: center;
  gap: 4px;
}
.botao.seta::after{
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  background: url(../../img/icones/seta.svg);
  transition: 0.2s;
}
.botao.seta:hover::after{
  transform: translateX(3px);
}
.secundario{
  padding: 16px 22px;
  display: inline-block;
  background: var(--cor-10);
  border-radius: 4px;
  color: var(--cor-4);
  text-transform: uppercase;
  font: 600 1.125/1.35 "Poppings",sans-serif;
  max-width: max-content;

}
.secundario:hover{
  background-color: var(--cor-9);
}
.link{
  display: block;
  color: var(--cor-p1);
  font-family:500 1.5rem/1.5 "Poppings";
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.link:hover{
  color: var(--cor-0);
}
@media(max-width:600px){
  .botao{
    padding: 12px 16px;
    font-size: 1rem;
  }
}

/* termo e condições */
.titulo-bg{
  background: var(--cor-11);
  padding: 40px 0;
}
.titulo p{
  margin-bottom: 4px;
}
@media(max-width: 800px){
  .titulo-bg{
    padding: 20px 0;
  }
  .titulo p{
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}