.seguro-bg{
  background: var(--cor-11);
}
.seguro{
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}
.seguro h2{
  grid-column: 1/-1;
}
.seguro-prata{
  background-color: var(--cor-12);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.seguro-prata h3{
  margin-bottom: 40px;
}
.seguro-prata ul{
  grid-column: 1/-1;
  margin-bottom: 32px;
}
.seguro-prata li{
  display: flex;
  align-items: center;
  position: relative;

}
.seguro-prata li::before{
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url(../../img/icones/lista.svg);
  position: absolute;
  left: -21px;
}
.seguro-prata a{
  grid-column: 1;
  
}
.seguro-prata span{
  grid-column: 2;
  display: block;
  text-align: right;
}
.seguro-prata li + li{
  margin-top: 20px;
}
@media(max-width:800px){
  .seguro{
    grid-template-columns: 1fr;
  }
  .seguros h2{
    text-align: center;
    padding: 10px 0px;
  }
}
